<header class="site-header">
  <nav class="navbar navbar-expand-md">
    <div class="container py-3 justify-content-between">
      <a href="Home.html" class="navbar-brand d-flex align-items-center gap-2">
        <span class="brand">Swedish Singers of Seattle</span>
        <img src="images/logo.svg" alt="" class="logo-mark mx-4">
      </a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#siteNav" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="siteNav">
        <div class="navbar-nav gap-md-4 gap-2 text-md-end">
          <a href="Home.html" class="nav-link" data-nav="home">Home</a>
          <a href="About.html" class="nav-link" data-nav="about">About</a>
          <a href="Events.html" class="nav-link" data-nav="events">Events</a>
          <a href="Join.html" class="nav-link" data-nav="join">Join</a>
          <a href="Contact.html" class="nav-link" data-nav="contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="flag-rule"></div>
  <div class="flag-rule"></div>
</header>
