<header class="site-header">
  <a href="index.html" class="brand-lockup">
    <span class="brand">Swedish Singers of Seattle</span>
    <img src="images/logo.png" alt="Swedish Singers of Seattle logo" class="logo-mark">
  </a>
  <button class="nav-toggle" aria-label="Menu" aria-expanded="false" aria-controls="siteNav"><span></span></button>
  <nav class="site-nav" id="siteNav">
    <a href="index.html" data-nav="home">Home</a>
    <a href="About.html" data-nav="about">About</a>
    <a href="Events.html" data-nav="events">Events</a>
    <a href="Contact.html" data-nav="contact">Contact</a>
    <a href="Members.html" data-nav="members">Members</a>
  </nav>
</header>

<div class="bleed wave-rule">
  <svg viewBox="0 0 800 13" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <path class="wave-header-fill" d="M0,0 L0,5 Q25,-1 50,5 T100,5 T150,5 T200,5 T250,5 T300,5 T350,5 T400,5 T450,5 T500,5 T550,5 T600,5 T650,5 T700,5 T750,5 T800,5 L800,0 Z" />
    <path class="wave-blue" d="M0,5 Q25,-1 50,5 T100,5 T150,5 T200,5 T250,5 T300,5 T350,5 T400,5 T450,5 T500,5 T550,5 T600,5 T650,5 T700,5 T750,5 T800,5" />
    <path class="wave-yellow" d="M0,8 Q25,2 50,8 T100,8 T150,8 T200,8 T250,8 T300,8 T350,8 T400,8 T450,8 T500,8 T550,8 T600,8 T650,8 T700,8 T750,8 T800,8" />
  </svg>
</div>